PORT=6784 # Port on which the server will be running
STORAGE_DIRECTORY= # The directory from which the files will be served

DISABLE_MIME_GUESSING=false # Whether to disable guessing files' mime type when serving them

MAX_CACHE_SIZE= # The maximum size of the file cache (in memory) (in megabytes, disabled if not set)